<%= stylesheet_link_tag 'deliveries-new' %>

<%= link_to image_tag("foremore-logo.jpeg", id: "logo"), "/" %>

<h2>New delivery</h2>

<% if @delivery.errors.any? %>
<div class="errors">
  <h2>There were some errors with your submission:</h2>
  <ul>
    <% @delivery.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%# TODO try Using Rails UJS for Validation? %>
<%# TODO make 1st grid column size of longest label %>
<%= form_with(model: @delivery, method: :post) do |form| %>
<div id="delivery">
  <%= form.label :pickup_address %>
  <%= form.text_field :pickup_address, required: true, minlength: 3, maxlength: 255 %>

  <%= form.label :delivery_address %>
  <%= form.text_field :delivery_address, required: true, minlength: 3, maxlength: 255 %>

  <%= form.label :weight %>
  <%= form.number_field :weight, required: true, min: 1 %>

  <%= form.label :distance %>
  <%= form.number_field :distance, required: true, min: 1 %>

  <%= form.label :scheduled_time %>
  <%= form.datetime_local_field :scheduled_time, required: true %>

  <%= form.label :cost %>
  <%= form.number_field :cost, step: 0.01, required: true, min: 0.01 %>

  <%= form.label "#{:driver_name} (optional)" %>
  <%= form.text_field :driver_name, required: false, minlength: 1, maxlength: 255 %>

  <%= form.submit "Create Delivery" %>
</div>
<% end %>

<%= link_to 'Back to Deliveries', deliveries_path %>
